.character-popup-wrapper {
  width: 24rem;
  height: 12rem;
  position: absolute;
  bottom: 0px;
  left: calc(50% - 12rem);
  box-shadow: 0px -2px 4px #c4c4c4;
  background-color: white;
  border-radius: 2rem;
  display: flex;
  flex-direction: column;
  padding: 1rem;
  transition: 0.2s;
}

.character-popup-header {
  width: 100%;
  font-size: 1.2rem;
  padding-left: 1rem;
  text-align: left;
  font-family: "Do Hyeon", sans-serif;
}

.character-popup-content {
  display: flex;
}

.character-wrapper {
  margin: 1rem 0.5rem;
  display: flex;
  flex-direction: column;
}

input[type="radio"] {
  display: none;
}

input[type="radio"] + label {
  display: flex;
  flex-direction: column;
  border-radius: 1rem;
  padding: 0.5rem;
  transition: 0.2s;
  align-items: center;
}

input[type="radio"]:checked + label,
input[type="radio"]:hover + label {
  background-color: #0b979330;
}
