.sidemenu {
  width: 25rem;
  height: 100%;
  position: fixed;
  top: 0px;
  background-color: white;
  box-shadow: -4px 4px 10px rgba(0, 0, 0, 0.25);
  z-index: 10;
  display: flex;
  flex-direction: column;
  transition: 0.5s right;
  text-align: center;
}

.close-btn {
  width: 100%;
  height: 3.5rem;
  line-height: 3rem;
  color: #2ac1bc;
  font-size: 1.5rem;
  text-align: left;
  cursor: pointer;
  margin-bottom: 1rem;
  padding-left: 1rem;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

.side-menu-content-wrapper {
  padding: 0rem 1rem;
}

.profile-wrapper {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-left: 2rem;
  padding: 0.5rem 2rem;
  background-color: #2ac1bc;
}

.profile-img {
  width: 6rem;
  height: 6rem;
  border: 3px solid #2ac1bc;
  border-radius: 50%;
  background-image: url("https://blog.kakaocdn.net/dn/ekWihO/btqC1HX0H3J/LHzRdNeglmSgcv937zbql1/img.jpg");
  background-size: 100% auto;
  margin-right: 2rem;
}

.profile-name {
  font-size: 2.8rem;
  text-shadow: -2px 2px 2px #00000040;
  font-family: "Do Hyeon", sans-serif;
}

.divide-line {
  width: 100%;
  height: 1px;
  margin: 1rem 0rem;
  background-color: #c4c4c4;
}

.side-menu-content-title {
  width: 100%;
  text-align: left;
  font-size: 0.85rem;
  color: #2ac1bc;
  font-weight: 500;
  font-family: "Noto Sans KR", sans-serif;
}

.friends-profile-wrapper {
  display: flex;
  align-items: center;
  margin: 1rem;
}

.friends-profile-img {
  width: 3rem;
  height: 3rem;
  border-radius: 1rem;
  background-color: #c4c4c4;
  background-size: cover;
}

.friends-profile-name {
  font-size: 1.1rem;
  margin-left: 1rem;
  font-family: "Jua", sans-serif;
}

.friends-content-wrapper {
  max-height: 10rem;
  overflow-x: hidden;
  overflow-y: scroll;
}

.friends-content-wrapper::-webkit-scrollbar {
  width: 8px;
}

.friends-content-wrapper::-webkit-scrollbar-thumb {
  background-color: #2ac1bc;
  border-radius: 10px;
}

.friends-content-wrapper::-webkit-scrollbar-track {
  background-color: #c4c4c450;
  border-radius: 10px;
}

.checkbox-wrapper {
  margin-left: auto;
}

.selected-members-wrapper {
  width: 100%;
  display: flex;
  overflow-x: scroll;
}

.selected-members-wrapper::-webkit-scrollbar {
  display: none;
}

.selected-member-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0.5rem 0.5rem;
}

.selected-name {
  font-size: 0.8rem;
  margin-left: 0px;
}

.delete-selected-member {
  position: relative;
  left: 1.5rem;
  top: -0.5rem;
  cursor: pointer;
  color: #ff5271;
}

.show-group-wrapper {
  width: 100%;
  position: absolute;
  bottom: 0px;
  padding: 0rem 2rem;
}

input[type="checkbox"] + label {
  position: relative;
  left: -1.2rem;
  top: -0.35rem;
  font-size: 0.8rem;
  color: white;
  visibility: hidden;
  transition: 0.2s;
}

input[type="checkbox"]:checked + label {
  visibility: visible;
}

input[type="checkbox"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;

  width: 1.2rem;
  height: 1.2rem;
  border-radius: 0.2rem;
  background-color: #2ac1bc40;
  border: 2px solid #2ac1bc;
  color: white;
  transition: 0.2s;
  cursor: pointer;
}

input[type="checkbox"]:checked {
  background-color: #2ac1bc;
}

button[type="button"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;

  width: 18rem;
  height: 2.4rem;
  border: none;
  border-radius: 2rem;
  color: white;
  background-color: #2ac1bc;
  font-weight: 500;
  font-family: "Noto Sans KR", sans-serif;
  margin: 1rem;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.25);
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
  transition: 0.2s;
}

button[type="button"]:hover {
  background-color: #1daaa5;
}
