.Detail {
  flex-basis: 35%;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  font-family: "Noto Sans KR", sans-serif;
  overflow: auto;
}

.Detail::-webkit-scrollbar {
  width: 10px;
}

.Detail::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 10px;
}
.Detail::-webkit-scrollbar-track {
  background-color: lightgray;
  border-radius: 10px;
}
.Detail .padding {
  padding: 20px;
}
.Detail .backIcon {
  height: 40px;
}
.Detail .backIcon:hover {
  cursor: pointer;
  height: 40px;
  width: 40px;
}

.Detail .titleWrap {
  background-color: white;
  height: 200px;
  width: 100%;
  margin: 10px auto;
  box-shadow: 2px 2px 4px 0 #bdbdbd;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.Detail .titleWrap h1 {
  margin: 10px 0;
  font-weight: 500;
}

.Detail .titleWrap .starWrap {
  font-size: 20px;
  display: flex;
  align-items: center;
}

.Detail .titleWrap .starWrap span {
  margin-left: 5px;
}

.Detail .titleWrap .recentWrap {
  display: flex;
  color: #c4c4c4;
  width: 300px;
  justify-content: space-around;
  font-size: 16px;
  line-height: 16px;
  margin-top: 10px;
}

.Detail .titleWrap .recentWrap .recentReview {
  border-right: 1px solid #c4c4c4;
  padding: 0 20px;
}

.Detail .titleWrap .iconWrap {
  display: flex;
  width: 500px;
  margin-top: 25px;
  justify-content: space-around;
  font-weight: 500;
}

.Detail .titleWrap .iconWrap .icon {
  margin-right: 5px;
}

.Detail .titleWrap .iconWrap .subWrap {
  display: flex;
  align-items: center;
  line-height: 20px;
}

.Detail .orderTypeWrap {
  display: flex;
  /* padding: 0 0 10px; */
  justify-content: space-around;
  border-bottom: 1px solid #c4c4c4;
  color: #c4c4c4;
}

.Detail .orderTypeWrap .selectedType {
  color: black;
  border-bottom: 5px solid black;
  padding-bottom: 5px;
  display: inline-block;
  box-sizing: border-box;
  font-weight: bold;
}

.Detail .detailWrap {
  padding: 15px;
  border-bottom: 1px solid #c4c4c4;
}

.Detail .detailWrap .subWrap {
  margin-bottom: 10px;
}

.Detail .detailWrap .subWrap .title {
  width: 120px;
  display: inline-block;
}

.Detail .bar {
  height: 10px;
  background-color: #ececec;
}

.Detail .menuWrap {
  display: flex;
  justify-content: space-around;
}

.Detail .menuWrap span {
  padding: 15px 0;
  color: #c4c4c4;
  flex-grow: 1;
  width: 100%;
  text-align: center;
  font-size: 18px;
}

.Detail .menuWrap .selected {
  border-top: 4px solid black;
  color: black;
  font-weight: bold;
  border-right: 1px solid #c4c4c4;
  box-sizing: border-box;
}

.Detail .menuWrap .notSelected {
  border-bottom: 1px solid #c4c4c4;
}

.Detail .textWrap {
  padding: 30px 15px;
}

.Detail .downIcon {
  margin: 0 auto;
}

.Detail .menu {
  margin: 5px 10px;
}

.Detail .menu img {
  width: 100%;
}
