.Header {
  height: 15%;
  background: #2ac1bc;
  border-radius: 0 0 30px 30px;
  text-align: center;
  padding: 10px 0;
  box-sizing: border-box;
  /* position: fixed;
  top: 0;
  left: 0;
  right: 0; */
}
.addressContent {
  height: 46px;
  line-height: 46px;
  margin-bottom: 0px;
  /* margin-top: 25px; */
}
.Header .address {
  color: white;
  font-size: 25px;
  line-height: 46px;
  vertical-align: top;
  display: inline-block;
}
.Header .textInput {
  width: 561px;
  display: inline-block;
  border: none;
  height: 30%;
  border-radius: 5px;
}
