.Map {
  flex-basis: 65%;
  display: flex;
  position: relative;
  font-family: "Noto Sans KR", sans-serif;
}

.DefaultMap {
  width: 100%;
  padding-top: 150px;
}

.DefaultMap .strong {
  font-size: 120px;
  text-align: center;
}
.DefaultMap .light {
  font-size: 36px;
  color: #c4c4c4;
  font-family: "Noto Sans KR", sans-serif;
  text-align: center;
}

.DefaultMap .images {
  position: fixed;
  width: 400px;
  object-fit: cover;
  bottom: 0;
  right: 0;
}

.Panel {
  position: absolute;
  height: 80px;
  left: 20px;
  right: 20px;
  bottom: 30px;
  border-radius: 8px;
  background-color: #2ac1bc;
  display: flex;
  padding: 20px;
  justify-content: space-between;
  align-items: center;
  font-family: "Noto Sans KR", sans-serif;
}

.Panel .info {
  display: flex;
  flex-direction: column;
  color: white;
  font-weight: bold;
}

.Panel .bigInfo {
  display: flex;
  align-items: flex-end;
}

.Panel .walk {
  font-size: 18px;
  font-family: "Noto Sans KR", sans-serif;
}
.Panel .bigInfo .minute {
  font-size: 32px;
  margin-right: 10px;
  line-height: 35px;
}

.Panel .bigInfo .meter {
  font-size: 20px;
  line-height: 20px;
}

.Panel .kcal {
  margin-top: 2px;
  font-size: 15px;
  font-weight: 300;
}

.Panel .order {
  display: flex;
}

.Panel .order:hover {
  cursor: pointer;
  color: #fbf46d;
}

.Panel .order span {
  font-size: 25px;
  font-weight: bold;
}

.cs_mapbridge {
  width: 50px;
  height: 50px;
  background: blueviolet;
}
